BODY {
 min-width: auto;
}

#error {
  margin-top: 10px;
  color: red;
  text-transform: lowercase;
}

.proxy-form .link-settings {
  position: absolute;
  top: 24px;
  right: 14px;
  font-size: 9px;
  line-height: 12px;
  color: #00adad;
}

.proxy-form .link-settings:hover {
  text-decoration: none;
  color: #555;
}