.panel-arrowcontent {
	padding: 0;
}

#main .hr_all {
	margin: 0px;
}

#main .hr_mgn_25 {
	margin: 0px 0px 0px 25px;
	width: 100%;
}

.footer {
	height:42px;
}

.footer_logo {
	width: 140px;
	height: 100%;
	background-repeat: no-repeat; 
	background-position: center center;
	margin: 2px 0 0 5px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.footer_logo {
		background-image: url(/popup/img/popup/logo.svg);
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.footer_logo {
	 background-image: url("../../popup/img/popup/logo.svg");
	}
}

@-moz-document url-prefix() {
	.footer_logo {
		background-image: url(chrome://shopearnsbx/skin/img/popup/logo.svg);
	}
}

.float_left {
	float:left;
}

.float_right {
	float:right;
}

.main-content{
	width: 100%;
	height: 405px;
	overflow-y: auto;
	overflow-x: hidden;
	display:none;
	position:relative;
}

@-moz-document url-prefix() {
	.main-content{
		position:relative;
	}
}







/*--lh remove blue outline*/
*:focus {
	/*outline: 0 none;*/
}
/*--lh*/

.clear {
	clear:both;
}

.header-wnd {
	width: 414px;
	height:40px
}

.header-wnd-left {
	background-color:#f6f6f6;
	width: 360px;
	height:40px;
	border:1px solid #CACACA;
	float:left;
	text-align: center;
}

.header-wnd-right {
	background-color:#f6f6f6;
	width: 50px;
	height:40px;
	float:left;
	background-repeat: no-repeat; 
	background-position: center center;
	cursor:pointer;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.header-wnd-right {
		background-image: url(/popup/img/menu/window.png);
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.header-wnd-right {
		background-image: url("../../popup/img/menu/window.png");
	}
}

@-moz-document url-prefix() {
	.header-wnd-right {
		background-image: url(chrome://shopearnsbx/skin/img/menu/window.png);
	}
}

.header-wnd-right:hover {
	background-color:#ddd;
}

.header-wnd-right_sp {
	background-color:#f6f6f6;
	width: 50px;
	height:40px;
	border:1px solid #CACACA;
	float:left;
}

.header-wnd-right_out {
	background-color:#f6f6f6;
	width: 50px;
	height:40px;
	border:1px solid #CACACA;
	float:left;
	background-repeat: no-repeat; 
	background-position: center center;
	cursor:pointer;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.header-wnd-right_out {
		background-image: url(/popup/img/menu/window_out.svg);
	}
}

@-moz-document url-prefix() {
	.header-wnd-right_out {
		background-image: url(chrome://shopearnsbx/skin/img/menu/window_out.svg);
	}
}

.header-wnd-left h3{
	margin: 8px 0 0 0;
	color: #6a7380;
	font-size: 20px;
}

.popout_section{
	text-align: center;
	font-size: 24px;
	color: #6a7380;
}

.popout_title{
	width: 340px;
	margin: auto;
	margin-top:50px
}

.flash_out{
	width:320px;
	height:165px;
	position:absolute;
	top:100px;
	left:11px;
	opacity:0;
	font-size:16px;
	cursor:pointer;
	padding:45px 25px 45px 25px;
}

.flash_out:hover{
	background-color:black;
	color:white;
	opacity:0.5;
}

.flash_out a{
	color:#FF0000;
	text-decoration:none;
}

.flash_out a:hover{
	color:#FF00FF;
	text-decoration:underline;
}

.flash_out a:active{
	color:#0000FF;
	text-decoration:underline;
}

@-moz-document url-prefix() {
	#se_body {
		position: relative !important;
	}
	#se_popup{
		position: relative !important;
		width:450px;
		height:428px;
	}
}

a img, a, img{
	border: 0;
	outline: none;
}

#lp_content_wrap_critical_update{
	padding:10px;
	height: 410px;
	display:none;
}

#lp_content_wrap_unsupported{
	padding:10px;
	height: 410px;
	display:none;
}

#main {
	display:none; 
	max-width: 400px;
}

#wnd_main_content {
	float:left;
	width:100%;
}

.coming_soon{
	margin-top: 80px;
	font-size: 36px;
	font-weight: bold;
	color: #6a7380;
	text-align: center;
}

#coming_soon_shop, #top_deals, #top_stores, 
#tb_sc_msg_wrap, #nav_sb_reload_trgr, 
#search_powered_by, #sb_quantserve , #sb_comscore,
#page-preloader {
	display:none;
}

#wrapped_iframe {
	width:99%;
	min-width:410px;
	height: 790px;
	overflow: auto;
	border: 0;
}

#game_main_section {
	height: 300px; 
	margin-left: 3px;
}

.swag_code_input {

}

.swag_code_submit{

}

#sb_global_nav_swag_code_submit {
	opacity: 1; 
	cursor: pointer;
}

#sc_one, #sc_two, #sc_three {
	text-align: center;
	padding: 0 25px;
}
#sc_two .sc_big_text {
	color: #69B8D6;
	font-size: 22px;
}
#sc_check_now, #sc_thanks {
	!color:#fff;
}

#sc_check_available {
	font-size: 14px;
	font-weight: 700;
	color: #666;
	border: 1px solid #ddd;
	display: block;
	padding: 10px 0;
	background: #efefef;
	border-radius: 4px;
	margin: 25px auto;
}

#sc_check_available + a {
	margin: 0 auto;
	padding: 2px 30px;
	box-sizing: border-box;
	width: 140px;
	height: auto;
}

#sb_global_nav_sb_display {
	margin-top: 22px;
}

.user_block .new_tab_link {
	display: block;
}

.view_link {
	margin-left: 200px; 
	cursor: pointer; 
	font-family:sans-serif;  
	font-size: 12px;
}

.view_link .new_tab_link {
	color:#444; 
	text-decoration: underline;
}

.popout_section .survey_go_btn_grey {
	padding: 8px 20px; 
	float:left;
	margin-left: 55px; 
	width:95px;
}

.popout_section .survey_go_btn {
	padding: 8px 20px; 
	float:left;
	margin-left: 15px; 
	width:95px;
}

.search_main_content{
	margin-top: 20px;
}

#update_popup {
	position: absolute;
	top: 25px;
	left: 40px;
	width: 385px;
	font-size: 13px;
	font-weight: bold;
	border-radius: 5px;
	padding: 10px 10px;
	
	color: #FFF;
	background-color: #316BB2;
	border-color: #eed3d7;
	
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	z-index:1001;
	display:none;
}

#update_popup_close {
	width: 14px;
	height: 14px;
	position: absolute;
	right: 10px;
	top: 14px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#update_popup_close {
		background-image: url(/popup/img/close.svg);
	}
}

@-moz-document url-prefix() {
	#update_popup_close {
		background-image: url(chrome://shopearnsbx/skin/img/close.svg);
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#update_popup_close {
		background-image: url(../../popup/img/close.svg);
	}
}

#watch-button-in {
	width: 34px;
	height: 31px;
	position: absolute;
	right: 5px;
	top: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	cursor:pointer;
}

#watch-button-out {
	width: 34px;
	height: 31px;
	position: absolute;
	right: 7px;
	top: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	cursor:pointer;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#watch-button-in {
		background-image: url(/popup/img/menu/window_in.svg);
	}
	#watch-button-out {
		background-image: url(/popup/img/menu/window_out.svg);
	}
}

@-moz-document url-prefix() {
	#watch-button-in {
		background-image: url(chrome://shopearnsbx/skin/img/menu/window_in.svg);
	}
	#watch-button-out{
		background-image: url(chrome://shopearnsbx/skin/img/menu/window_out.svg);
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#watch-button-in {
		background-image: url(../../popup/img/menu/window_in.svg);
	}
	#watch-button-out {
		background-image: url(../../popup/img/menu/window_out.svg);
	}
}

#search_promo {
	display: none;
	position: absolute;
	top: 45px;
	left: 5px;
	width: 370px;
	font-size: 13px;
	font-weight: bold;
	border-radius: 5px;
	padding: 10px 10px;
	color: #000000;
	background-color: #ffffff;
	border-color: #000000;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	z-index: 1001;
	text-align: center;
}

#search_promo_text{
	line-height: 1.4;
	text-align: center;
	display: block;
}

#help_search{
	margin: 10px auto 0;
	width: auto;
	line-height: 20px;
	display: inline-block;
}

#search_promo_close {
	width: 14px;
	height: 14px;
	position: absolute;
	right: 10px;
	top: 14px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	background-repeat: no-repeat;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#search_promo_close {
		background-image: url(/popup/img/close.svg);
	}
}

@-moz-document url-prefix() {
	#search_promo_close {
		background-image: url(chrome://shopearnsbx/skin/img/close.svg);
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#search_promo_close {
		background-image: url(../../popup/img/close.svg);
	}
}

.logo_tab_link {
	width:270px; 
	height:60px;
}

.acp_ltr { border-collapse: collapse; border-spacing: 0; } 
.acp_ltr th, .acp_ltr td { padding: 0px; }
