.menu-items{
	height:43px;
	width:100%;
	padding: 0px 5px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.menu_icon {
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: 7px center;
    padding: 8px 10px 8px 34px;
}

.menu_icon.sbTvNotSupported {
    width: 32.5%;
    margin-left: 1%;
    box-sizing: border-box;
}

.menu_icon.sbTvNotSupported:first-child {
    margin-left: 0;
}

.menu_shop {
	position: relative;
	cursor: pointer;
	border-radius: 4px;
	font-size: 14px;
	margin-top: 5px;
    background-image:  url(../../popup/img/menu/shop.svg);
}

.menu_shop .icon {
	position: absolute;
	top: 9px;
	left: 10px;
}

.shop_activity{
	display: none;
	position: absolute;
	right: -1px;
	top: -3px;
	transform: scale(1);
}

.shop_selected, .menu_shop:hover{
	background-color: #ECECEC;
}

.menu_watch {
	position: relative;
	cursor: pointer;
	border-radius: 4px;
	font-size: 14px;
	margin-left: 5px;
	margin-top: 5px;
    background-image:  url(../../popup/img/menu/watch.svg);
}

.menu_watch .icon {
	position: absolute;
	top: 10px;
	left: 8px;
}

.watch_selected, #menu_watch:hover{
	background-color: #ECECEC;
}

.watch_activity{
	display: none;
	position: absolute;
	right: -1px;
	top: -3px;
	transform: scale(1);
}

.menu_sc {
	margin-left: 5px;
	position: relative;
	cursor: pointer;
	border-radius: 4px;
	font-size: 14px;
	margin-top: 5px;
    background-image:  url(../../popup/img/menu/sc.svg);
}

.menu_sc .icon {
	position: absolute;
	top: 10px;
	left: 6px;
}

.sc_selected, .menu_sc:hover{
	background-color: #ECECEC;
}

.sc_activity{
	display: none;
	position: absolute;
	right: -1px;
	top: -3px;
	transform: scale(1);
}

.menu_settings {
	margin-left: 5px;
	position: relative;
	cursor: pointer;
	border-radius: 4px;
	font-size: 14px;
	margin-top: 5px;
    background-image:  url(../../popup/img/menu/settings.svg);
}

.menu_settings .icon {
	position: absolute;
	top: 9px;
	left: 3px;
}

.settings_selected, .menu_settings:hover{
	background-color: #ECECEC;
}

.main_data_content{
	padding:0px;          
	height: 404px;
}

.main_data_content + .hr_all {
    position: relative;
    z-index: 2;
}

/*.menu-items{
	float:left;
	height:380px;
	width:36px;
	border-top-left-radius: 4px;
}*/

/*@media screen and (-webkit-min-device-pixel-ratio:0) {

	.menu_shop {
		background-image: url(../../img/pops/shop_earn_Off.png);
	}
	.shop_selected, .menu_shop:hover{
		background-image: url(../../img/pops/shop_earn.png);
	}
	.menu_watch {
		background-image: url(../../img/pops/sbtv_Off.png);
	}
	.watch_selected, #menu_watch:hover{
		background-image: url(../../img/pops/sbtv.png);
	}
	.menu_sc {
		background-image: url(../../img/pops/sc_Off.png);
	}
	.sc_selected, .menu_sc:hover{
		background-image: url(../../img/pops/sc.svg);
	}

.menu_play {
	background-image: url(../../img/pops/play_Off.png);
}
.play_selected, .menu_play:hover{
	background-image: url(../../img/pops/play.png);
}
.menu_search {
	background-image: url(../../img/pops/search_Off.png);
}
.search_selected, .menu_search:hover{
	background-image: url(../../img/pops/search.png);
}
.menu_answer {
	background-image: url(../../img/pops/answer_Off.png);
}
.answer_selected, .menu_answer:hover{
	background-image: url(../../img/pops/answer.svg);
}
.menu_discover {
	background-image: url(../../img/pops/discover_Off.png);
}
.discover_selected, .menu_discover:hover{
	background-image: url(../../img/pops/discover.png);
}
.menu_account {
	background-image: url(../../img/pops/account_Off.png);
}
.account_selected, .menu_account:hover{
	background-image: url(../../img/pops/account.svg);
}
.menu-items{
	background-image: url(../../popup/img/menu/panel-pixel.png);
}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	.menu_shop {
		background-image: url(../../img/pops/shop_earn_Off.png);
	}
	.shop_selected, .menu_shop:hover{
		background-image: url(../../img/pops/shop_earn.png);
	}
	.menu_watch {
		background-image: url(../../img/pops/sbtv_Off.png);
	}
	.watch_selected, #menu_watch:hover{
		background-image: url(../../img/pops/sbtv.png);
	}
	.menu_sc {
		background-image: url(../../img/pops/sc_Off.png);
	}
	.sc_selected, .menu_sc:hover{
		background-image: url(../../img/pops/sc.svg);
	}
.menu_play {
	background-image: url(../../img/pops/play_Off.png);
}
.play_selected, .menu_play:hover{
	background-image: url(../../img/pops/play.png);
}
.menu_search {
	background-image: url(../../img/pops/search_Off.png);
}
.search_selected, .menu_search:hover{
	background-image: url(../../img/pops/search.png);
}
.menu_answer {
	background-image: url(../../img/pops/answer_Off.png);
}
.answer_selected, .menu_answer:hover{
	background-image: url(../../img/pops/answer.svg);
}
.menu_discover {
	background-image: url(../../img/pops/discover_Off.png);
}
.discover_selected, .menu_discover:hover{
	background-image: url(../../img/pops/discover.png);
}
.menu_account {
	background-image: url(../../img/pops/account_Off.png);
}
.account_selected, .menu_account:hover{
	background-image: url(../../img/pops/account.svg);
}
.menu-items{
	background-image: url(../../popup/img/menu/panel-pixel.png);
}
}

@-moz-document url-prefix() {

	.menu_shop {
		background-image: url(chrome://shopearnsbx/skin/img/pops/shop_earn_Off.png);
	}
	.shop_selected, .menu_shop:hover{
		background-image: url(chrome://shopearnsbx/skin/img/pops/shop_earn.png);
	}
	.menu_watch {
		background-image: url(chrome://shopearnsbx/skin/img/pops/sbtv_Off.png);
	}
	.watch_selected, #menu_watch:hover{
		background-image: url(chrome://shopearnsbx/skin/img/pops/sbtv.png);
	}
	.menu_sc {
		background-image: url(chrome://shopearnsbx/skin/img/pops/sc_Off.png);
	}
	.sc_selected, .menu_sc:hover{
		background-image: url(chrome://shopearnsbx/skin/img/pops/sc.svg);
	}
.menu_play {
	background-image: url(chrome://shopearnsbx/skin/img/pops/play_Off.png);
}
.play_selected, .menu_play:hover{
	background-image: url(chrome://shopearnsbx/skin/img/pops/play.png);
}
.menu_search {
	background-image: url(chrome://shopearnsbx/skin/img/pops/search_Off.png);
}
.search_selected, .menu_search:hover{
	background-image: url(chrome://shopearnsbx/skin/img/pops/search.png);
}
.menu_answer {
	background-image: url(chrome://shopearnsbx/skin/img/pops/answer_Off.png);
}
.answer_selected, .menu_answer:hover{
	background-image: url(chrome://shopearnsbx/skin/img/pops/answer.svg);
}

.menu_discover {
	background-image: url(chrome://shopearnsbx/skin/img/pops/discover_Off.png);
}
.discover_selected, .menu_discover:hover{
	background-image: url(chrome://shopearnsbx/skin/img/pops/discover.png);
}
.menu_account {
	background-image: url(chrome://shopearnsbx/skin/img/pops/account_Off.png);
}
.account_selected, .menu_account:hover{
	background-image: url(chrome://shopearnsbx/skin/img/pops/account.svg);
}
.menu-items{
	background-image: url(chrome://shopearnsbx/skin/img/menu/panel-pixel.png);
}
}*/
