.vline {
	width: 9px;
	height: 31px;
	margin-top: 5px;
	background-repeat: no-repeat; 
	background-position: center center;
	padding: 0px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .vline {
	background-image: url(../../popup/img/popup/vertical_line.png);
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .vline {
	background-image: url(../../popup/img/popup/vertical_line.png);
  }
}

@-moz-document url-prefix() {
  .vline {
	background-image: url(chrome://shopearnsbx/skin/img/popup/vertical_line.png);
  }
}

#menu_notification {
	width: 30px;
	height: 30px;
	margin-top: 5px;
	background-repeat: no-repeat; 
	background-position: center center;
	padding: 3px;
	position:relative;
	cursor:pointer;
	border-radius: 5px;
}

#menu_notification:hover, .notification_selected {
	background-color: #ececec;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #menu_notification {
	background-image: url(../../popup/img/notification/bell.svg);
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #menu_notification {
	background-image: url(../../popup/img/notification/bell.svg);
  }
}

@-moz-document url-prefix() {
  #menu_notification {
	background-image: url(chrome://shopearnsbx/skin/img/notification/bell.svg);
  }
}

#bell_circle {
	position: absolute;
	top: 1px;
	right:1px;
	width: 14px;
	height: 14px;
	background-repeat: no-repeat; 
	background-position: center center;
	color:white;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #bell_circle {
	background-image: url(../../popup/img/notification/bell_circle.svg);
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #bell_circle {
	background-image: url(../../popup/img/notification/bell_circle.svg);
  }
}

@-moz-document url-prefix() {
  #bell_circle {
	background-image: url(chrome://shopearnsbx/skin/img/notification/bell_circle.svg);
  }
}

.notification-row {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #d1d9e4;
    padding: 10px 0;
}

.notification-row:hover {
	background-color: #f6f6f6;
}

.notification-data {
    width: 100%;
    background: url(../../popup/img/notification/active.svg) 10px center no-repeat;
    padding-left: 40px;
    padding-right: 50px;
    box-sizing: border-box;
    font-size: 14px;
	line-height: 1.5;
}

.notification-data.notification-nonactive {
	background-image: none;
}

@-moz-document url-prefix() {
  .notification-data {
	background-image: url(chrome://shopearnsbx/skin/img/notification/active.svg);
  }
}

.notification-header {
	font-weight: 700;
    margin-bottom: 3px;
}

.notification-close {
	position: absolute;
	right: 20px;
	top: 0;
    bottom: 0;
    margin: auto;
	width: 12px;
	height: 12px;
	cursor: pointer;
    display: none;
}

.notification-data .action-link {
    color: #2388AF;
}

.survey-started {
    background-color: #ccc;
    border-radius: 2px;
    padding: 1px 4px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.notification-row:hover .notification-close {
    display: block;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .notification-close {
	background-image: url(../../popup/img/notification/cross.svg);
	background-repeat: no-repeat;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .notification-close {
	background-image: url(../../popup/img/notification/cross.svg);
	background-repeat: no-repeat;
  }
}

@-moz-document url-prefix() {
  .notification-close {
	background-image: url(chrome://shopearnsbx/skin/img/notification/cross.svg);
	background-repeat: no-repeat;
  }
  }

.ntf-disabled, .ntf-disabled a {
	color: #a6a6a6;
}

.ntf-disabled  .notification-header,
.ntf-disabled  .notification-text {
	font-style: italic;
}

.no-alert {
	text-align: center;
	margin: 160px auto 0;
	color: #ccc;
	font-size: 28px;
	font-weight: lighter;
	font-family: Helvetica, Arial,sans-serif;
}
