.reedem_error_close,
.sc_error_get_close,
.sc_close  {
	background: url(../img/cross.svg) 0 0 no-repeat;
	position: absolute;
    right: 10px;
	top: 13px;
    margin: auto;
	width: 14px;
	height: 14px;
    cursor: pointer;
}

.sc_close.blue {
	background-image: url(../img/cross.svg);
}

#sb_globa_nav_sc_container {
    cursor: pointer;
}
#sb_global_nav_swag_code {
    background-image: url("../images/sprite-newnav.png?v=20131007");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 23px;
    position: relative;
    vertical-align: middle;
    width: 22px;
    z-index: 0;
}
#sb_global_nav_swag_code.sb_global_nav_swag_code_active {
    background-position: 0 -43px;
    cursor: pointer;
}
#sb_global_nav_swag_code #sb_global_nav_swag_code_dropdown {
    background-color: #F5F9FB;
    border: 1px solid #CED3D6;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    cursor: default;
    display: none;
    padding: 4px;
    text-align: center;
    width: 220px;
}
#sb_global_nav_swag_code #sb_global_nav_swag_code_dropdown:before, #sb_global_nav_swag_code_dropdown:after {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    margin-left: -7px;
}
#sb_global_nav_swag_code #sb_global_nav_swag_code_dropdown:before {
    border-bottom: 7px solid #F5F9FB;
    z-index: 10;
}
#sb_global_nav_swag_code #sb_global_nav_swag_code_dropdown:after {
    border-bottom: 7px solid #CED3D6;
    margin-bottom: 1px;
    z-index: 1;
}
#sb_global_nav_swag_code_form {
    margin: 0;
	padding: 10px;
	width: 100%;
    box-sizing: border-box;
}

#sb_global_rd{
	margin: 0px;
	!background: none;
	!border: none;
	box-shadow: none;
	position: relative;
	top: 0;
	left: 0;
	height: 35px;
	background-color: #fff;
	border-radius: 4px 4px 4px 4px;
}

#sb_global_nav_swag_code #sb_global_nav_swag_code_form {
    display: block;
}
#sb_global_nav_swag_code_form #sb_global_nav_swag_code_input {
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    margin: 0 0 4px;
    padding: 10px;
    width: 100%;
	font-size: 14px;
    box-sizing: border-box;
}
#sb_global_nav_swag_code_form #sb_global_nav_swag_code_input:focus {
    border-color: #69B8D6;
    outline: none;
}
#sb_global_nav_swag_code_submit {
    width: 100%;
    display: inline-block;
    padding: 5px 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: #69B8D6;
}
#sb_global_nav_swag_code_submit:hover {
    background-color: #5cacca;
}

.sc_big_text{
	text-align: center;
	margin: 95px 0 0 0;
	color: #6a7380;
	font-size: 24px;
}

.error_get_sc {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	display: none;
	background-color: #69B8D6;
	padding: 10px 0;
}

.sc_text{
	line-height: 40px;
	background-color: #69B8D6;
	height: 40px;
	width: 100%;
	font-weight: bold;
	margin: auto;
	color: #fff;
}

.sc_text_input{
	line-height: 40px;
	background-color: #69B8D6;
	height: 40px;
	width: 100%;
	font-weight: bold;
	margin: auto;
	border:none;
	text-align: center;
	color: #fff;
}

.reedem_error{
	clear: both;
	color: #fff;
	background-color: #ED1C24;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
    padding: 10px 0;
}

#tb_sc_msg_wrap,
#sc_error_get,
.sc_text {
    position: relative;
	padding-left: 10px;
	padding-right: 30px;
}
